body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.cart {
  display: flex;
  justify-content: space-around;
}

.pending-products {
  display: flex;
  flex-direction: column;
}

.single-pending {
  display: flex;
}
.single-pending img {
  width: 20%;
  height: 50%;
}

.pending-quantity {
  display: flex;
  flex-direction: row;
}

.pending-quantity button {
  width: 10%;
  height: 10%;
}

/* AUTH FORM */

.auth-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-form {
  border-radius: 10px;
  box-shadow: 2px 2px 10px lightgray;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 30px;
}
.login-button {
  align-self: center;
}
