html,
body {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
}

body {
  font-family: 'Abel', sans-serif;
  background-color: rgb(221, 131, 57);
}

h1 {
  font-family: 'Shrikhand', cursive;
  color: #1b3f3a;
  font-size: 80px;
  text-shadow: 2px 2px 4px rgba(253, 248, 235, 1);
}

a {
  text-decoration: none;
  color: #1b3f3a;
  font-size: 25px;
  text-align: center;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

button {
  background-color: #67281f;
  border: none;
  padding: 10px;
  color: rgba(253, 248, 235, 1);
  font-family: 'Abel', sans-serif;
  font-size: 15px;
  border-radius: 10px;
  box-shadow: 2px 2px 6px #683831;
}

/* CART */

.cart {
  display: flex;
  justify-content: space-around;
}

.pending-products {
  display: flex;
  flex-direction: column;
}

.single-pending {
  display: flex;
}
.single-pending img {
  width: 20%;
  height: 50%;
}

.pending-quantity {
  display: flex;
  flex-direction: row;
}

/* AUTH FORM */

.auth-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-form {
  border-radius: 10px;
  box-shadow: 2px 2px 10px lightgray;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 30px;
}
.login-button {
  align-self: center;
}

/* NAV BAR */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: linear-gradient(
    to top,
    rgba(255, 0, 0, 0),
    rgba(253, 248, 235, 1)
  );
  align-items: center;
}

nav a {
  margin: 1em;
  font-size: 30px;
}

.logo {
  width: 180px;
}

/* WELCOME */
.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome-img {
  height: 500px;
}

/* ALL PRODUCTS */
.all-products-component {
  padding: 30px;
}

.all-products-component h1 {
  margin: 15px;
}

.all-products-list img {
  height: 180px;
  border-radius: 15px;
}
.all-products-list {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}

.product {
  background-color: #afd1be;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 15px;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 2px 2px 6px #683831;
  width: 280px;
  height: 300px;
}

/* SINGLE PRODUCT */
.single-product-img {
  width: 500px;
}

.single-product-container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single-product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 900px;
}

.single-product-info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
